<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Best Coding Bootcamp in India">
    <meta name="author" content="CodeAsylums">

    <title>Early Steps</title>
<!-- 
    <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="../assets/images/favicon.ico"> -->

    <link rel="apple-touch-icon" href="../../assets/images/logo-ca.png">
    <link rel="shortcut icon" href="../../assets/images/logo-ca.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../global/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="../../global/css/styles.css">
    <link rel="stylesheet" href="../../global/css/ModalSubmission/ModalSubmission.css">
    <link rel="stylesheet" href="../../assets/css/site.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="../../global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="../../global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="../../global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="../../global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="../../global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="../../global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="../../global/vendor/chartist/chartist.css">
    <link rel="stylesheet" href="../../global/vendor/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../../global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="../../assets/examples/css/dashboard/v1.css">
    <link rel="stylesheet" href="../../assets/examples/css/dashboard/team.css">
    <link rel="stylesheet" href="../../assets/examples/css/uikit/modals.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="../../global/fonts/weather-icons/weather-icons.css">
    <link rel="stylesheet" href="../../global/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="../../global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
    <script src="../../global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="../../global/vendor/media-match/media.match.min.js"></script>
    <script src="../../global/vendor/respond/respond.min.js"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="../../global/vendor/breakpoints/breakpoints.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.5.0/js/md5.min.js"></script>
    <script>
        Breakpoints();
    </script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


    <script type="text/javascript">
    //Bucket Configurations
        var bucketName = 'earlystepsfilestorage';
        var bucketRegion = 'ap-south-1';
        var IdentityPoolId = 'ap-south-1:a0022861-ee88-4d79-9545-32e9e77a5ff0';
        
        AWS.config.update({
            region: bucketRegion,
            credentials: new AWS.CognitoIdentityCredentials({
                IdentityPoolId: IdentityPoolId
            })
        });

        var s3 = new AWS.S3({
            apiVersion: '2006-03-01',
            params: {Bucket: bucketName}
        });
    </script>
</head>

<body class="animsition dashboard">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class=" navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided" data-toggle="menubar">
          <span class="sr-only">Toggle navigation</span>
          <span class="hamburger-bar"></span>
        </button>
            <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
          <i class="icon wb-more-horizontal" aria-hidden="true"></i>
        </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle">
                <a href="./home" style="color:black"><img class="navbar-brand-logo" src="../../assets/images/EarlyStepsLogo.webp" alt="...">
                <!-- <span class="navbar-brand-text hidden-xs-down"> Early Steps</span></a> -->
            </div>
            
        </div>

        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="nav-item hidden-float" id="toggleMenubar">
                        <a class="nav-link" data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
                        </a>
                    </li>

                </ul>
                <!-- End Navbar Toolbar -->

                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="scale-up" role="button">
                            <span class="avatar avatar-online">
                  <img id="photo" src="../../assets/images/upload.png" alt="...">
                  <i></i>
                </span>
                        </a>
                        <div class="dropdown-menu" role="menu">
                          
                            <a class="dropdown-item"  href="./login" onclick="logout();" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
                        </div>
                    </li>

                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->

            <!-- Site Navbar Seach -->
            <div class="collapse navbar-search-overlap" id="site-navbar-search">
                <form role="search">
                    <div class="form-group">
                        <div class="input-search">
                            <i class="input-search-icon wb-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" name="site-search" placeholder="Search...">
                            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search" data-toggle="collapse" aria-label="Close"></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Site Navbar Seach -->
        </div>
    </nav>


    <!-- Side Menu -->


    <div class="site-menubar">
        <div class="site-menubar-body">
            <div>
                <div>
                    <ul class="site-menu" data-plugin="menu">
                        <li class="site-menu-category"></li>
                        <li class="site-menu-item ">
                            <a href="/home">
                                <i class="site-menu-icon wb-home" style="color:#23b7e5" aria-hidden="true"></i>
                                <span class="site-menu-title">Home</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                           
                        </li>
                        <li class="site-menu-item ">
                            <a href="/profile">
                                <i class="site-menu-icon wb-layout" style="color:#27c24c" aria-hidden="true"></i>
                                <span class="site-menu-title">Profile</span>
                                <span class="site-menu-arrow"></span>
                            </a>

                        </li>
                        <li class="site-menu-item ">
                            <a href="/dashboard">
                                <i class="site-menu-icon wb-calendar" style="color:#528ff0" aria-hidden="true"></i>
                                <span class="site-menu-title">Live Sessions</span>
                                <span class="site-menu-arrow"></span>
                            </a>

                        </li>


                       <!-- 
                        <li class="site-menu-item ">
                            <a href="/videos">
                                <i class="site-menu-icon wb-camera" style="color:#f19a5e" aria-hidden="true"></i>
                                <span class="site-menu-title">Videos</span>
                                <span class="site-menu-arrow"></span>
                            </a>

                        </li> -->

                        <li class="site-menu-item has-sub active">
                            <a href="/assignments">
                                <i class="site-menu-icon wb-star-outline" style="color:#23b7e5" aria-hidden="true"></i>
                                <span class="site-menu-title">Assignments</span>
                                <span class="site-menu-arrow"></span>
                            </a>

                        </li>
                        <!-- <li class="site-menu-item ">
                          <a href="/leaderboard">
                            <i class="site-menu-icon wb-graph-up" style="color:#f05050" aria-hidden="true"></i>
                            <span class="site-menu-title">Leaderboard</span>
                            <span class="site-menu-arrow"></span>
                          </a>
                        </li> -->

                        <!-- <li class="site-menu-item  ">
                            <a href="/studymaterials_dashboard ">
                                <i class="site-menu-icon wb-library" style="color:#f19a5e" aria-hidden="true"></i>
                                <span class="site-menu-title">Study Resources</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                        </li> -->
                    </ul>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        


        <div class="site-menubar-footer">
            <button type="button" class="btn btn-info" data-target="#exampleFormModal" data-toggle="modal" style="width: inherit;"><i class="icon wb-chat" aria-hidden="true"></i> Submit Feedback</button>
        </div>

    </div>


        <div class="site-menubar-footer">
            <button type="button" class="btn btn-info" data-target="#exampleFormModal" data-toggle="modal" style="width: inherit;"><i class="icon wb-chat" aria-hidden="true"></i> Submit Feedback</button>
        </div>

    </div>
    </div>



    <!-- Page -->
    <div class="page">
   

        <div class="page-content container-fluid">
            

            <!-- alert message -->
            <div class="alert dark alert-info alert-dismissible animation-slide-top " id="processing-div" style="display:none" role="alert">
                        <button type="button" class="close" onClick="hidemepro()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                        <div id="message-processing"></div>
                    </div>
            <!-- End alert message -->


            <!-- alert message -->
            <div class="alert dark alert-danger alert-dismissible animation-slide-top " id="alert-message-div" style="display:none" role="alert">
                        <button type="button" class="close" onClick="hideme()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                        <div id="message-div"></div>
                    </div>
            <!-- End alert message -->
            

            <!-- alert message -->
            <div class="alert dark alert-success alert-dismissible animation-slide-top " id="info-message-div" style="display:none" role="alert">
                    <button type="button" class="close" onClick="hidemeinfo()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div id="message-div-info"></div>
                </div>
            <!-- End alert message -->


            <h2 id='assignmentName'></h2>
            <hr />
            <h3 id='assignmentDesc'></h3>
            <br />

            <form class="pl-3">

                <div class='spinner'>
                    <div class="loader"></div>
                </div>

                <h4 id='objectiveHeader' style='display : none;'>Choose the correct option</h4>
                <hr/>


                <div id='objectiveDisplay'></div>


                <div id="writtenDisplay"></div>



                <h3 id='videoHeader' style='display: none;'>Video Assignment</h3>
                <hr />

                <div id="videoDisplay"></div>
                <h4 style='display: none;' class='flex-column' id="videoDisplayHeading"></h4>
                <div style='display: none;' class="vid2Div" id='vid2Div' style='position : relative; width : 400px;'>
                    <!-- <div
                        id="videoVignette"
                        style='
                            position : absolute;
                            width : 100%;
                            height : 100%;
                            background-color: rgba(0, 0, 0, 0.926);
                            color : white;
                            font-size : 1.25rem;
                            font-weight: 500;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        '
                    >
                        <span>Record a video to preview!</span>
                    </div> -->
                    <video id="vid2" controls style="width : 400px;"></video>
                </div>
                
                <button style='display: none;' type="button" id='toggleRecord' class="btn btn-warning w-100 mt-3" data-toggle="modal" data-target="#exampleModal">
                    Record
                </button>

                <button type="button" style="display : none;" id='toggleRecordAgain' class="btn btn-warning mt-3" data-toggle="modal" data-target="#exampleModal">
                    Record Again
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title pl-4" id="exampleModalLabel">Record Video</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <div style="width : 100%; display : flex; justify-content: center; position : relative;">
                                <video id='vid1' style="width : 90%;"></video>
                                <button
                                    type="button"
                                    class="btn btn-danger"
                                    id="btnStart"
                                    style="
                                        position : absolute;
                                        bottom : 0px;
                                        left : 50%;
                                        transform: translate(-50%, 50%);
                                    "
                                    >
                                    Start Recording
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-danger"
                                    id="btnStop"
                                    style="
                                        display : none;
                                        position : absolute;
                                        bottom : 0px;
                                        left : 50%;
                                        transform: translate(-50%, 50%);
                                    "
                                    >
                                    Stop Recording
                                </button>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    </div>
                </div>


                  <hr />

                  

                <button id="submitForm" style='display: none;' type="button" class="esButton">Submit</button>
              </form>


            
            <!-- Modal -->


            <!-- <div class="modal fade" id="completeModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    
                    <div class="ModalSubmission">
                        <span class='SubmitHeader'>Hooray!!!</span>
                        <img class='SubmitIllustration' src="../../assets/images/jump.jpg" alt='Submit Image' />
                        <span class='SubmitHeader2'>You just won</span>
                        <span id='spanCoins' class='SubmitCoins'>1200 coins!</span>
                        <button class='btn btn-primary' class='ModalSubmitButton'>Collect Now!</button>
                    </div>

                </div>
            </div> -->

            <div class="Backdrop" id='successModal' >
                <div class="Modal">
                    
                    <div class="ModalSubmission">
                        <span class='SubmitHeader'>Hooray!!!</span>
                        <img class='SubmitIllustration' src="../../assets/images/jump.jpg" alt='Submit Image' />
                        <span id='submitHeader2' class='SubmitHeader2'>You just won</span>
                        <span id='spanCoins' class='SubmitCoins'>1200 coins!</span>
                        <button id='ModalContinueButton' class='ModalSubmitButton'>Collect Now!</button>
                    </div>

                </div>
            </div>



        </div>
    </div>

    <!-- End Page -->
    <div class="modal fade" id="exampleFormModal" aria-labelledby="exampleFormModalLabel" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-simple modal-center" style="z-index:20000;">
            <form class="modal-content" style="z-index:20000;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                    <h4 class="modal-title" id="exampleFormModalLabel">Send us some feedback!</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-xl-12 form-group">
                            <textarea class="form-control" rows="5" placeholder="Describe your issue or idea.." id="userFeedback_text"></textarea>
                            <div class="radio-custom radio-primary">
                                <input type="radio" id="radio_feedback_type1" name="inputRadios">
                                <label for="inputRadiosUnchecked" id="feedback_type1">Bug</label>
                            </div>
                            <div class="radio-custom radio-primary">
                                <input type="radio" id="radio_feedback_type2" name="inputRadios">
                                <label for="inputRadiosUnchecked" id="feedback_type2">Improvement</label>
                            </div>
                            <div class="radio-custom radio-primary">
                                <input type="radio" id="radio_feedback_type3" name="inputRadios">
                                <label for="inputRadiosUnchecked" id="feedback_type3">Comment</label>
                            </div>
                        </div>

                        <div class="col-md-12 float-right">
                            <button class="btn btn-primary btn-outline" data-dismiss="modal" type="button" onclick="userFeedback()">Send Feedback</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Footer -->
        <!-- <footer class="site-footer">
            <div class="site-footer-legal">© 2018 <a href="http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Remark</a></div>
            <div class="site-footer-right">
                Crafted with <i class="red-600 wb wb-heart"></i> by <a href="https://themeforest.net/user/creation-studio">Creation Studio</a>
            </div>
        </footer> -->
        <!-- Core  -->
        <script src="../../global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
        <script src="../../global/vendor/jquery/jquery.js"></script>
        <script src="../../global/vendor/popper-js/umd/popper.min.js"></script>
        <script src="../../global/vendor/bootstrap/bootstrap.js"></script>
        <script src="../../global/vendor/animsition/animsition.js"></script>
        <script src="../../global/vendor/mousewheel/jquery.mousewheel.js"></script>
        <script src="../../global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
        <script src="../../global/vendor/asscrollable/jquery-asScrollable.js"></script>
        <script src="../../global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

        <!-- Plugins -->
        <script src="../../global/vendor/switchery/switchery.js"></script>
        <script src="../../global/vendor/intro-js/intro.js"></script>
        <script src="../../global/vendor/screenfull/screenfull.js"></script>
        <script src="../../global/vendor/slidepanel/jquery-slidePanel.js"></script>
        <script src="../../global/vendor/skycons/skycons.js"></script>
        <script src="../../global/vendor/chartist/chartist.min.js"></script>
        <script src="../../global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js"></script>
        <script src="../../global/vendor/aspieprogress/jquery-asPieProgress.min.js"></script>
        <script src="../../global/vendor/jvectormap/jquery-jvectormap.min.js"></script>
        <script src="../../global/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js"></script>
        <script src="../../global/vendor/matchheight/jquery.matchHeight-min.js"></script>

        <!-- Scripts -->
        <script src="../../global/js/Component.js"></script>
        <script src="../../global/js/Plugin.js"></script>
        <script src="../../global/js/Base.js"></script>
        <script src="../../global/js/Config.js"></script>

        <script src="../../assets/js/Section/Menubar.js"></script>
        <script src="../../assets/js/Section/GridMenu.js"></script>
        <script src="../../assets/js/Section/Sidebar.js"></script>
        <script src="../../assets/js/Section/PageAside.js"></script>
        <script src="../../assets/js/Plugin/menu.js"></script>

        <script src="../../global/js/config/colors.js"></script>
        <script src="../../assets/js/config/tour.js"></script>
        <script>
            Config.set('assets', '../assets');
        </script>

        <!-- Page -->
        <script src="../../assets/js/Site.js"></script>
        <script src="../../global/js/Plugin/asscrollable.js"></script>
        <script src="../../global/js/Plugin/slidepanel.js"></script>
        <script src="../../global/js/Plugin/switchery.js"></script>
        <script src="../../global/js/Plugin/matchheight.js"></script>
        <script src="../../global/js/Plugin/jvectormap.js"></script>

        <script src="../../assets/examples/js/dashboard/v1.js"></script>

        <script>
        var url= 'https://early-steps.herokuapp.com/';
        function hideme(){
      document.getElementById('alert-message-div').style.display="none";
    }

    function hidemeinfo(){
      document.getElementById('info-message-div').style.display="none";
    }

     function hidemepro(){
      document.getElementById('processing-div').style.display="none";
    }
            function enterportal(key){
                const moduleId = 2
                window.location.href = "/assignments/" + moduleId;

            }

            function requestcallback(key){
                window.scrollTo(0,0);
                let user_idValue = sessionStorage.getItem("user_id");
                let userFeedback_textValue = document.getElementById(`coursename`+`${key}`).innerHTML;
                let userFeedback_type = "callback";
                let date = new Date();
                document.getElementById('processing-div').style.display="block";
                document.getElementById('message-processing').innerHTML="Processing...";
                        
                axios.post(url+'/doFeedback', {
                        user_id: user_idValue,
                        feedback_details: userFeedback_textValue+"~"+date,
                        feedback_type: userFeedback_type
                    })
                    .then(function(response) {
                        document.getElementById('processing-div').style.display="none";
                       document.getElementById('info-message-div').style.display="block";
                        document.getElementById('message-div-info').innerHTML="your request has been submitted successfully. We will get back to you soon";
                        
                        //console.log(response);
                    })
                    .catch(function(error) {
                        document.getElementById('processing-div').style.display="none";
                        document.getElementById('alert-message-div').style.display="block";
                        document.getElementById('message-div').innerHTML="Something went wrong, Please try again!";
                        //alert("Something went wrong, Please try again!")
                       // console.log(error);
                    });
            }

            function userFeedback() {
                window.scrollTo(0,0);
                let user_idValue = sessionStorage.getItem("user_id");
                let userFeedback_textValue = document.getElementById("userFeedback_text").value;
                let userFeedback_type;
                let date= new Date();

                if (document.getElementById("radio_feedback_type1").checked)
                    userFeedback_type = document.getElementById("feedback_type1").innerHTML;
                else if (document.getElementById("radio_feedback_type2").checked)
                    userFeedback_type = document.getElementById("feedback_type2").innerHTML;
                else if (document.getElementById("radio_feedback_type3").checked)
                    userFeedback_type = document.getElementById("feedback_type3").innerHTML;

                document.getElementById('processing-div').style.display="block";
                document.getElementById('message-processing').innerHTML="Processing...";
                axios.post(url + '/doFeedback', {
                        user_id: user_idValue,
                        feedback_details: userFeedback_textValue+"~"+date,
                        feedback_type: userFeedback_type
                    })
                    .then(function(response) {
                        document.getElementById('processing-div').style.display="none";
                       document.getElementById('info-message-div').style.display="block";
                        document.getElementById('message-div-info').innerHTML="your feedback has been submitted successfully.";
                        
                        //console.log(response);
                    })
                    .catch(function(error) {
                        document.getElementById('processing-div').style.display="none";
                        document.getElementById('alert-message-div').style.display="block";
                        document.getElementById('message-div').innerHTML="Something went wrong, Please try again!";
                        
                       // console.log(error);
                    });
            }

            function globalCall() {
                let user_id = sessionStorage.getItem("user_id");
                axios.get(url+`/getUserData/${user_id}`)
                    .then(function(response) {
                        // console.log(response);
                        sessionStorage.setItem("course_id",response.data["a"][0].course_id);
                        sessionStorage.setItem("photo", response.data["a"][0].photo);
                        document.getElementById("photo").src = response.data["a"][0].photo;
                        sessionStorage.setItem("track_name", response.data.a[0].track_name);
                        try{
                            document.getElementById(`${response.data.a[0].track_name}`).disabled = false;
                            sessionStorage.setItem("redirect", "dashboard");
                        }
                        catch(err){
                            // sessionStorage.setItem("redirect", "home");
                           console.log(err);
                        }
                      
                    }).catch(function(error) {
                    });

            }
            if (sessionStorage.getItem("loggedCA") === md5("true")) {
                globalCall();
            } else {
                window.location.href = "./login";
            }
            function logout(){
              sessionStorage.clear();
              window.reload();
            }

            function s3upload(file) {
                // var fileName = file.name;
                var fileName = docURL + '.mp4'
                var filePath = 'assignmentSubmission/' + sessionStorage.getItem('user_id') + fileName;
                var fileUrl = 'https://' + bucketRegion + '.amazonaws.com/my-first-bucket/' +  filePath;
                console.log('Filename : ', fileName)
                let uploadedURL = ''
                s3.upload({
                    Bucket: bucketName,
                    Key: filePath,
                    Body: file,
                    ACL: 'public-read'
                }, function(err, data) {
                        if(err) {
                            console.log('Error : ', err)
                        }
                        else{
                            console.log('Successfully Uploaded!', data);
                            document.getElementById('vid2').src = `${data.Location}`
                            vidURLUpload = data.Location
                            for (iterator in written) {
                                writtenSubmission[iterator] = ($(`#${iterator}`).val())
                            }

                            const videoSubmission = {
                                vidURL: vidURLUpload,
                                questionId: vidQuestionId
                            }

                            console.log('MCQ : ', mcqSubmission)
                            console.log('Written : ', writtenSubmission)
                            console.log('VideoURL : ', videoSubmission)

                            console.log('Final : ', {mcq: mcqSubmission, text: writtenSubmission, video: videoSubmission})
                            
                            axios.post('https://early-steps.herokuapp.com/createSubmission', {
                                user_assignment_id: studentId,
                                assignment_id: assignmentId,
                                submission_content: {mcq: mcqSubmission, text: writtenSubmission, video: videoSubmission}
                            })
                            .then(res => {
                                console.log('Response data : ', res.data)
                                if(res.data==='True'){
                                    // alert('Submitted Successfully!')
                                    // window.location.replace('https://glacial-spire-45143.herokuapp.com/assignments')
                                    if(redirectionFlag) {
                                        $('#spanCoins').html(`${assignmentCoins} coins!`)
                                        $('#successModal').fadeIn()
                                        $('#ModalContinueButton').html(`Unlock Level ${nextLevel}`)
                                        $('#ModalContinueButton').on('click', () => {
                                            window.location.replace(`http://localhost:3000/assignments/${moduleId}/${nextAssignmentId}`)
                                        })
                                        
                                    }
                                    else{
                                        $('#spanCoins').html(`You have finished all assignments`)
                                        $('#spanCoins').css('font-size', '1.5rem')
                                        $('#ModalContinueButton').html(`Continue`)
                                        $('#submitHeader2').css('display', 'none')
                                        $('#successModal').fadeIn()
                                        $('#ModalContinueButton').on('click', () => {
                                            window.location.replace(`http://localhost:3000/assignments/`)
                                        })
                                    }
                                }
                            })
                            .catch(err => {
                                console.log('Error : ', err)
                            })
                        }
                        
                })

                
            };


        

        // Displaying data on the page
        let videoUploadFlag = false
        const objectiveDisplay = document.querySelector('#objectiveDisplay')
        const writtenDisplay = document.querySelector('#writtenDisplay')
        const videoDisplay = document.querySelector('#videoDisplay')
        const videoDisplayHeading = document.querySelector('#videoDisplayHeading')
        const spanCoins = document.querySelector('#spanCoins')
        // const successModal = document.querySelector('#successModal')
        
        $('#successModal').css('display', 'none')
        

        let objectiveArray = []
        let writtenArray = []
        let videoObj = {}
        let written = {
        }
        let vidQuestionId = -1

        let docURL = document.URL.split('/')[document.URL.split('/').length - 1]
        let moduleId = document.URL.split('/')[document.URL.split('/').length - 2]

        let currentLevel = 0
        let nextLevel = 0
        let nextAssignmentId = 0
        let redirectionFlag = false
        let assignmentCoins = 0

        let vidURL = ''
        let vidBlob = null
        let vidURLUpload = 'xxxxx'
        
        axios.get(`https://early-steps.herokuapp.com/getAssignment/${docURL}`)
        .then(res => {
            $('.spinner').css('display', 'none')
            document.querySelector('#assignmentName').innerHTML = res.data.assignment_name
            document.querySelector('#assignmentDesc').innerHTML = res.data.assignment_desc
            $('#submitForm').css('display', '')
            console.log(res.data)
            currentLevel = res.data.assignment_level
            nextLevel = currentLevel + 1

            console.log('Next Level : ', nextLevel)

            assignmentCoins = res.data.assignment_submission_score

            if(res.data.assignment_content_mcq) {
                $('#objectiveHeader').css('display', 'flex')
            }

            if(res.data.assignment_content_video !== '{}') {
                videoUploadFlag = true
                $('#videoHeader').css('display', 'flex')
                $('#videoDisplayHeading').css('display', 'flex')
                $('#vid2Div').css('display', 'flex')
                $('#toggleRecord').css('display', '')

                // Video recording, storing and playback

                let constraintObj = {
                    audio : false,
                    video : {
                        facingMode : 'user'
                    }
                }

            

                navigator.mediaDevices.getUserMedia(constraintObj)
                .then(mediaStreamObj => {
                    let video = document.querySelector('#vid1')
                    video.srcObject = mediaStreamObj

                    video.onloadedmetadata = (ev) => {
                        video.play()
                    }

                    const start = document.getElementById('btnStart')
                    const stop  = document.getElementById('btnStop')
                    const vidSave = document.getElementById('vid2')
                    // const vignette = document.getElementById('videoVignette')
                    const recordButton = document.querySelector('#toggleRecord')
                    const recordButtonAgain = document.querySelector('#toggleRecordAgain')
                    const mediaRecorder = new MediaRecorder(mediaStreamObj)
                    let chunks = []

                    start.addEventListener('click', e => {
                        start.style.display = 'none'
                        stop.style.display = 'flex'
                        // $('#btnStart').css('display', 'none')
                        // $('#btnStop').css('display', 'flex')
                        mediaRecorder.start()
                        console.log('Recording started')
                    })

                    stop.addEventListener('click', e => {
                        start.style.display = 'flex'
                        stop.style.display = 'none'
                        // vidSave.style.display = 'flex'
                        // vignette.style.display = 'none'

                        recordButton.style.display = 'none'
                        recordButtonAgain.style.display = 'flex'
                        mediaRecorder.stop()
                        console.log('Recording stopped')
                    })

                    mediaRecorder.ondataavailable = e => {
                        console.log('Pushing data into chunk')
                        chunks.push(e.data)
                    }


                    mediaRecorder.onstop = e => {

                        console.log('MediaRecorder stopped')
                        let blob = new Blob(chunks, { 'type' : 'video/mp4' })
                        chunks = []

                        let videoURL = window.URL.createObjectURL(blob)
                        vidURL = videoURL
                        console.log('VideoURL : ', videoURL)
                        vidSave.src = videoURL
                        vidBlob = blob
                    }

                })

            // Video end
            }

            JSON.parse(res.data.assignment_content_text).map((iterator, index) => {
                written[iterator.questionId] = iterator.question
                if(iterator.assetURL) {
                    writtenDisplay.innerHTML += `
                        <br />
                        <hr />
                        <div class="form-group">
                            <img src='${iterator.assetURL}' style='width : 200px;' />
                            <h4>${iterator.question}</h4>
                            <textarea id='${iterator.questionId}' style="width : 80%; height : 150px;"></textarea>
                            <small id="emailHelp" class="form-text text-muted">Elaborate with justifications.</small>
                        </div>
                        <hr />        
                    `
                }
                else{
                    writtenDisplay.innerHTML += `
                        <br />
                        <hr />
                        <div class="form-group">
                            <h4>${iterator.question}</h4>
                            <textarea id='${iterator.questionId}' style="width : 80%; height : 150px;"></textarea>
                            <small id="emailHelp" class="form-text text-muted">Elaborate with justifications.</small>
                        </div>
                        <hr />        
                    `
                }

            })

            JSON.parse(res.data.assignment_content_mcq).map(iterator => {
                // console.log('Iterator : ', iterator)
                console.log('AssetURL : ', iterator.assetURL)
                objectiveDisplay.innerHTML += `
                ${iterator.assetURL ? `<img src='${iterator.assetURL}' style='width : 200px' />` : ''}
                <h4 id='${iterator.questionId}'>${iterator.question}?</h4>
                `
                iterator.options.map(itr => {
                    objectiveDisplay.innerHTML += `
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="${iterator.questionId}" value="${iterator.questionId}" id="${itr.optionId}">
                        <label class="form-check-label" for="${iterator.questionId}">
                        ${itr.text}
                        </label>
                    </div>
                    `
                })
            })

            const videoQuestion = JSON.parse(res.data.assignment_content_video)

            $(':radio').on('change', (e) => {
                console.log('Changed')
                mcqSubmission[e.target.value] = e.target.id
                console.log('mcqSubmission : ', mcqSubmission)
            })

            vidQuestionId = videoQuestion.videoId
            if(videoQuestion.assetURL) {
                videoDisplayHeading.innerHTML = `<img src='${videoQuestion.assetURL}' style='width : 200px' />` +  videoQuestion.question
            }
            else{
                videoDisplayHeading.innerHTML = videoQuestion.question
            }
            

            $('#completeModal').modal()

        })


        // Getting data back from form

        const studentId = 5
        const assignmentId = docURL
        const mcqSubmission = {}
        const writtenSubmission = {}

        const radioButtonChange = () => {
            console.log('Changed')
            $(':radio').on('change', (e) => {
                console.log('Changed')
                mcqSubmission[e.target.value] = e.target.id
                console.log('mcqSubmission : ', mcqSubmission)
            })
        }
        
        

        $('#submitForm').on('click', () => {
            console.log('Button clicked')

            if(videoUploadFlag) {
                s3upload(vidBlob)
            }

            else{

                for (iterator in written) {
                    writtenSubmission[iterator] = ($(`#${iterator}`).val())
                }

                const videoSubmission = {}
                console.log('MCQ : ', mcqSubmission)
                console.log('Written : ', writtenSubmission)
                console.log('VideoURL : ', videoSubmission)

                console.log('Final : ', {mcq: mcqSubmission, text: writtenSubmission, video: videoSubmission})
                
                axios.post('https://early-steps.herokuapp.com/createSubmission', {
                    user_assignment_id: studentId,
                    assignment_id: assignmentId,
                    submission_content: {mcq: mcqSubmission, text: writtenSubmission, video: videoSubmission}
                })
                .then(res => {
                    console.log('Response data : ', res.data)
                    if(res.data==='True'){
                        // window.location.replace('https://glacial-spire-45143.herokuapp.com/assignments')
                        if(redirectionFlag) {
                            $('#spanCoins').html(`${assignmentCoins} coins!`)
                            $('#successModal').fadeIn()
                            $('#ModalContinueButton').html(`Unlock Level ${nextLevel}`)
                            $('#ModalContinueButton').on('click', () => {
                                window.location.replace(`http://localhost:3000/assignments/${moduleId}/${nextAssignmentId}`)
                            })
                            
                        }
                        else{
                            $('#spanCoins').html(`You have finished all assignments`)
                            $('#spanCoins').css('font-size', '1.5rem')
                            $('#ModalContinueButton').html(`Continue`)
                            $('#submitHeader2').css('display', 'none')
                            $('#successModal').fadeIn()
                            $('#ModalContinueButton').on('click', () => {
                                window.location.replace(`http://localhost:3000/assignments/`)
                            })
                        }
                    }
                })
                .catch(err => {
                    console.log('Error : ', err)
                })
            }
            
        })


        axios.get('https://early-steps.herokuapp.com/getAllAssignment')
        .then(res => {
            res.data.a.map((iterator, index) => {
                if (+iterator.module_id=== +moduleId) {
                    if(+iterator.assignment_level === nextLevel) {
                        console.log('Next assignment : ', iterator)
                        nextAssignmentId = iterator.assignment_id
                        console.log('Next Assignment ID : ', nextAssignmentId)
                        redirectionFlag = true
                    } 
                }
            })

        })


        

        </script>
</body>

</html>